<div class="modal-body" id="vue-modal-repsd">
    <form class="modal-form smart-form vuemodalrepsd prelative">   
        <h3>修改密码</h3>
        <div class="form-group">
            <input class="form-control" type="password" @keyup="oldpsd" v-model="form.oldpass" placeholder="请输入原始密码" />
            <span class="error-color" v-if="oldpsdmsg">{{ oldpsdmsg }}</span>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" @keyup="newpsd" v-model="form.newpass" placeholder="请输入新密码" />
            <span class="error-color" v-if="newpsdmsg">{{ newpsdmsg }}</span>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" @keyup="renewpsd" v-model="form.renewpass" placeholder="再次输入新密码" />
            <span class="error-color" v-if="renewpsdmsg">{{ renewpsdmsg }}</span>
        </div>
    </form>
    <div class="modal-footer prelative clearfix" style="padding: 10px 0;border: 0;">
        <div class="pull-left" v-if="success">
            <span class="success-color">密码修改成功，请重新登陆</span>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-default btn-sm botTempo" data-dismiss="modal">取消</button>
            <button type="button" @click.prevent="saveForm" :disabled="!validate" class="btn btn-default btn-sm botTempo">
                <img v-if="issave" src="../img/loading/load_24.gif" style="width: 1em; vertical-align: -1;margin-right: 3px;" alt=""> 保存修改
            </button>
        </div>
    </div>
</div>
<script>
    (function () {
        new Vue({
            el: '#vue-modal-repsd',
            data: {
                form:{
                    oldpass: '',
                    newpass: '',
                    renewpass: ''
                },
                oldpsdmsg: '',
                newpsdmsg: '',
                renewpsdmsg: '',
                success: false,
                issave: false
            },
            watch: {
                form: {
                    handler: function(){
                        this.oldpsd(),this.newpsd(),this.renewpsd()
                    },
                    deep: true
                }
            },
            computed: {
                validate: function(){
                    return this.form.oldpass && this.form.newpass && 
                        !this.validatePSD && this.form.newpass!=this.form.oldpass && 
                        this.form.newpass==this.form.renewpass;
                },
                validatePSD: function(){
                    if(!this.form.newpass) return 0;
                    return !(/[0-9 | A-Z | a-z]{6,16}/.test(this.form.newpass)) 
                }
            },
            methods: {
                saveForm: function(){
                    var that = this;
                    this.issave = true;
                    $.post('/doctor/updatepass',this.form)
                    .done(function(d){
                        if(d.status == 'success'){
							that.success = true;
							window.setTimeout(BASE.loginOut,600);
						}else{
							that.oldpsdmsg = '原始密码输入错误，请重试';
						}
                    })
                    .always(function(){
                        that.issave = false;
                    });
                },
                oldpsd: function(){
                    this.oldpsdmsg = !this.form.oldpass ? '请输入原始密码' : '';
                },
                newpsd: function(){
                    this.newpsdmsg = !this.form.newpass || this.validatePSD ? 
                        '请输入6至16位包含字母数字的密码' : 
                        (this.form.newpass == this.form.oldpass ? '新密码不可与原始密码相同' : '');                    
                },
                renewpsd: function(){
                    this.renewpsdmsg =  this.form.newpass != this.form.renewpass ? '两次密码输入不一致' : '';
                }
            }
        });
    })();
</script>
<style>
    
</style>