<div class="modal-body" id="vue-modal-report">
    <div class="gloal-titles report-title">
        <button type="button" class="close close-report" data-dismiss="modal" aria-hidden="true"></button>
        <button type="button" :class="{ 'selected': tab == '1'}" @click="tab=1">录入</button>
        <button type="button" :class="{ 'selected': tab == '2'}" @click="tab=2">上传</button>
    </div>
    <form v-show="tab=='1'" class="smart-form vuemodalreport prelative" style="margin:0 20px;">   
        <div class="row">
            <!--<h3 style="margin:0 12px 20px 12px;color: #000;">请您填写本次会诊的治疗建议</h3>-->
            <div class="col-md-12">
                <div class="form-group textarea" :class="{'selected': focus=='conResult'}">
                    <label for="category">诊断意见<i style="color:#bf3131; font-style: normal;vertical-align: middle;">*</i></label>
                    <textarea class="form-control" placeholder="" @focus="focus='conResult'" v-model="form.diagnosis" rows="4" ></textarea>
                </div>
                <div class="form-group textarea" :class="{'selected': focus=='treatPlan'}">
                    <label for="category">治疗方案<i style="color:#bf3131; font-style: normal; vertical-align: middle;">*</i></label>
                    <textarea class="form-control" placeholder="" @focus="focus='treatPlan'" v-model="form.treatPlan" rows="4" ></textarea>
                </div>
                <div class="form-group textarea" :class="{'selected': focus=='attentions'}">
                    <label for="category">注意事项<i style="color:#bf3131; font-style: normal; vertical-align: middle;">*</i></label>
                    <textarea class="form-control" placeholder="" @focus="focus='attentions'" v-model="form.attentions" rows="4" ></textarea>
                </div>
            </div>
        </div>
        <div v-show="tab=='1'" style="margin-bottom: 1em">
            <div class="voice" @click="isvolumn=!isvolumn"><i class="iconfont icon-yuyinic"></i> 语音辅助工具</div>
        </div>
        <div class="row" v-show="isvolumn">
            <iframe src="ajax/iframe/iat/iat.html" style="width: 100%;height: 150px;" frameborder="no" border="0" allowscriptaccess="always" marginwidth="0" marginheight="0" allowfullscreen="true" wmode="opaque" allowTransparency="true" type="application/x-shockwave-flash"></iframe>
        </div>
        <div class="row" style="padding-left: 16px">
            <div style="font-size: 14px;line-height: 2em;">
                签名区<span style="font-size: 12px; color: #777">(扫描右侧二维码，进行手机填写或点击二维码，进行网页签名)</span>
            </div>
            <div class="flex">
                <div class="f10" style="font-size:0; height: 150px; margin-right: 20px">
                    <img :src="form.signature" style="width: 100%; height: 100%; overflow: hidden; object-fit: contain;">
                </div>
                <div>
                    <a :href="'ajax/iframe/signature/index.html?orderUuid='+ oid +'&orderType='+ otype" target="_blank" style="display: block">
                        <img :src="erweima" alt="" style="height: 150px;">
                    </a>
                </div>  
            </div>
        </div>
    </form>
    <form v-show="tab=='2'"  class="smart-form vuemodalreport prelative" style="margin:2em 20px 0;min-height: 200px;text-align:center;">
        <div v-if="form.photoReport" style="display: inline-block">
            <img  :src="form.photoReport" alt="" style="width: 360px;margin: 0 auto;">
            <div style="width: 100%; position:relative; left: 50%; margin-left: -180px; top: -3em">
                <div class="opacitys flex acenter">
                    <span class="texts">
                        重新上传
                        <my-webupload style="position:absolute; top: 0;left: 0;width: 100%; height: 100%; opacity: 0;" :id="'uploadfile'" :single="true" @success="uploadok" ref="photoReport"></my-webupload>
                    </span>
                </div>
            </div>
        </div>
        <div v-else style="width: 166px; margin: 2em auto; position:relative;">
            <!--<img src="/app/img/upload.png" alt="">-->
            <div class="imgupload">
                <button type="button" class="no-btn">上传会诊报告</button>
                <p>请上传jpg,png,pdf等格式图片报告</p>
            </div>
            <my-webupload style="position:absolute; top: 0;left: 0;width: 100%; height: 100%; opacity: 0;" :id="'uploadfile'" :single="true" @success="uploadok" ref="photoReport"></my-webupload>
        </div>
    </form>
    <div class="modal-footer text-align-center prelative clearfix" style="padding: 20px 0;margin-top: 1em;">
        <div class="pull-center">
            <button type="button" @click.prevent="saveForm"  :disabled="validate" class="btn btn-lg btn-primary" style="background-color:#0186D1">
                <img v-if="issave" src="../img/loading/load_24.gif" style="width: 1em; vertical-align: -1;margin-right: 3px;" alt=""> 保存
            </button>
            <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>
<script>
    (function () {
        var dialog = new Vue({
            el: '#vue-modal-report',
            data: {
                form:{
                    id: '',
                    orderUuid: Page.ouid,
                    orderType: Page.otype,
                    diagnosis: '',
                    treatPlan: '',
                    attentions: '',
                    signature: '',
                    photoReport: ''
                },
                tab: Page.tab || 1,
                oid: Page.ouid,
                otype: Page.otype,
                focus: 'conResult',
                signType: 'mouse',
                erweima: '',
                headpic: [],
                isvolumn: false,
                issave: false,
                isload: false
            },
            computed: {
                validate: function(){
                    return !((this.form.diagnosis && this.form.treatPlan && this.form.attentions && this.form.signature) || this.form.photoReport)
                },
                iframesrc: function(){
                    return this.form.signature ? 'ajax/iframe/signature/success.html?url=' + this.form.signature : 'ajax/iframe/signature/index.html?orderUuid='+ this.oid +'&orderType='+ this.otype +"&isPc=pc"
                }
            },
            methods: {
                saveForm: function(){
                    var that = this;
                    this.issave = true;
                    $.post('/order/saveOrUpdateReport',this.form)
                    .done(function(d){
                        Page && Page.mainForms && (
                            Page.mainForms.maintabs.list.report.show = true, //显示报告界面
                            Page.mainForms.maintabs.selected = 'report', //显示报告界面
                            Page.mainForms.reportlist = that.form
                        );
                        $.smallBox({
                            title: "报告发送成功",
                            color: $.color.success,
                            timeout: 3000
                        });
                        BASE.hideModel();
                    })
                    .fail(function(){
                        $.smallBox({
                            title: "报告发送失败",
                            color: $.color.error,
                            iconSmall: "fa fa-times",
                            timeout: 3000
                        });
                    })
                    .always(function(){
                        dialog.issave = false;
                    });
                },
                luyin:function(t){
                    if(!t) return $.smallBox({
                            title: "没有获取到识别结果",
                            color: $.color.error,
                            iconSmall: "fa fa-times",
                            timeout: 4000
                        }),0;
                    this.form[this.focus] += t;
                },
                uploadok: function(){
                    this.form.photoReport = (this.$refs.photoReport.urls || []).join(',');
                }
            },
            created: function() {
                var that = this;
                this.isload = true;
                $.post('/order/loadReportInfo', { orderUuid: Page.ouid, orderType: Page.otype })
                .done(function (d) {
                    if(BASE.isLost(d)) return $.smallBox({title: "订单信息加载失败",color: $.color.error,iconSmall: "fa fa-times",timeout: 5000}),0;
                    var o = d.opinion;
                    if(!o) return 0;
                    that.form = o;
                    that.headpic = [{
                        fileUrl: o.photoReport || (BASE.href + 'app/img/avatars/male.png')
                    }];
                }).always(function(){
                    that.isload = false;
                });

                $.post('/order/gainOrderSigErweima', { orderUuid: Page.ouid, orderType: Page.otype })
                .done(function (d) {
                    that.erweima = d.url
                });
            }
        });
        Page.dialog = dialog;
    })();
</script>
<style>
    .smart-form .form-group label{color:#8799A5;}
    .smart-form .form-group.selected label{color:#0186D3;}
    .smart-form .form-group.selected textarea{border-color:#0186D3;}
    .modal-footer .btn{box-shadow:none;height: 30px; padding: 0 1.5em; font-size: 13px;}
    .modal-footer .btn-default{border-color:#0186D3; color: #0186D3 }
    .vuemodalreport .signative{ padding: 1em 0; text-align: center;}
    .vuemodalreport .signative span{ display: inline-block; min-width: 6em; cursor: pointer; }
    .vuemodalreport .signative span.selected{ color:#0186D3; }
    #vue-modal-report .gloal-title{ text-align: center; }
    .opacitys{ height: 3em; background: rgba(0, 0, 0, 0.5)}
    .opacitys .texts{ position: absolute;color: #000; left: 50%; background: #fff; width: 100px;margin-left: -50px; line-height: 2em;border:1px solid #0186D3; color: #0186D3; overflow: hidden}
</style>